<p id="notice"><%= notice %></p>

<h1>User Books</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Book Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_items.each do |user_item| %>
      <tr>
        <td><%= User.where(id: user_item.user_id).last.username %></td>
        <td><%= Item.where(id: user_item.item_id).last.title %></td>
        <td><%= link_to 'Show', user_item %></td>
        <td><%= link_to 'Edit', edit_user_item_path(user_item) %></td>
        <td><%= link_to 'Destroy', user_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Book', new_user_item_path %>

<br>

<%= link_to 'Book Index', items_path %>

<br>

<%= link_to 'User Index', users_path %>


